.title-heading {
    height: 90px;
    width: 1150px;
    /* REFERENCED https://www.w3schools.com/css/css_align.asp */
    margin: auto;
    text-align: center;
    padding: 0 30px;
}

#map {
    height: 400px;
    width: 1100px;
    padding: 10px 10px;
    /* REFERENCED https://blog.hubspot.com/website/css-border#:~:text=CSS%20Border%20Not%20Showing,not%20define%20the%20border%20style. */
    border: 2px solid black;
    margin: auto;
    box-shadow: 0 0 15px black;
}
.space-small{
    height: 10px;
}

.space {
    height: 20px;
}

.space-large {
    height: 125px;
}

.space-special {
    height: 50px;
    /* REFERENCED https://stackoverflow.com/questions/62475991/how-to-write-an-app-layout-in-dash-such-that-two-graphs-are-side-by-side */
    display: inline-block;
}

.col-md-1 {
    margin: auto;
    text-align: center
}

.col-md-4 {
    height: 500px;
    width: 265px;
    vertical-align: top;
    display: inline-block;
}

.col-md-6 {
    height: 450px;
    width: 450px;
    display: inline-block;
    border: 2px solid black;
    margin: auto;
    box-shadow: 0 0 10px black;
}

.col-md-7 {
    height: 450px;
    width: 910px;
    display: inline-block;
    border: 2px solid black;
    margin: auto;
    box-shadow: 0 0 10px black;
}

.dropdown {
    border: 1px solid darkslategrey;
    box-shadow: 0 0 8px darkslateblue;
    width: 200px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: auto;
}

#selDataset-1 {
    width: 200px;
    padding: 3px 3px;
}

.panel {
    border: 1px solid darkslategrey;
    box-shadow: 0 0 8px darkslateblue;
    height: 320px;
    width: 200px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: auto;
}

#selDataset-2 {
    width: 200px;
    padding: 3px 3px;
}